@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Rathetta';
  src: url('/Rathetta.ttf');
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,
    'Courier New', Courier, monospace, 'Rathetta';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overflow {
  overflow-y: auto !important;
}
